@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: 3px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color: white;
    position: fixed;
    width: 100%;
    .nav-links {
        display: flex;
        justify-content: space-around;
        li {
            list-style: none;
            padding: 1em;
        }
    }
    .cta {
        padding: 1em;
    }
}
.hero__img {
    width: 100%;
}
